code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: './images/background';
}

.Best-Competitive-Generation {
  width: 884px;
  height: 62px;
  font-size: 55px;
  font-weight: 500;
  text-align: left;
  color: #fff;
  text-shadow: 2px 1px #000000;
}

.topTextBox {
  width: 500px;
  height: 150px;
  box-shadow: 0px 8px 0 0 rgba(255, 255, 255, 0.21);
  border: solid 6px #000;
  border-top: 0px;
  background-color: #e4fcff;
  margin-left: auto;
  margin-right: auto;
}

.topTitleBox {
  width: 500px;
  height: 125px;
  box-shadow: 0px 8px 0 0 rgba(255, 255, 255, 0.21);
  border: solid 6px #000;
  background-color: #4d7ae8;
  margin-left: auto;
  margin-right: auto;
}

.explainer {
  margin: 15px 18px 0 10px;
  font-size: 24px;
  color: #202020;
}

.chooseBox {
  width: 400px;
  height: 172px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: solid 6px #000;
  background-color: #c91f1f;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 1px #000000;
}

.Choose-your-Pokemon {
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}

.infoBody {
  width: 450px;
  height: 100px;
  border: solid 6px #000;
  border-top: 0px;
  background-color: #e4fcff;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.infoTitle {
  width: 450px;
  height: 85px;
  border: solid 6px #000;
  background-color: #2c3236;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position-x: right;
}
.pokemonName {
  font-size: 50px;
  font-weight: 500;
  text-align: left;
  color: #fff;
}

.Generation-X {
  font-size: 40px;
  text-align: left;
  color: #000000;
}

.tier {
  margin-left: 150px;
  font-size: 42.5px;
  font-weight: 500;
  color: #000000;
}
.moreInfo {
  align-items: flex-start;
  font-size: 24px;
  color: #000000;
}

.autoComplete {
  margin-top: 10px;
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.PokemonSearch {
  margin-top: 10px;
  height: 20px;
  width: 150px;
  color: #000000;
  text-shadow: 0px 0px #000000;
}

/* Reset default button styles */
input[type="submit"] {
  border: none;
  background: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Apply styling for the submit button */
input[type="submit"] {
  background-color: #4caf50;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}